imago-virtual-list
  width: 100%
  max-height: 500px
  overflow-y: auto
  display: block
  position: relative
  // .canvas
  //   background-color: #eee
  //   position: relative
  .renderer
    cursor: pointer
    position: absolute !important
    top: 0
    left: 0
    display: block !important
  //   width: 100%
  //   span
  //     margin-left: 10px
  //   &.selected
  //     background-color: #ccc
  //   &:hover
  //     background-color: #666
  //     color: white
