.imagoimage.imagowrapper(in-view="visible = $inview" ng-style="elementStyle", ng-class="status")
  .image(ng-if="visible" ng-style="imageStyle")
  .loading(ng-show="!visible" ng-hide="status === 'loaded'")
    .spin
    .spin2
