div(class="imagovideo {{videoOpts.align}} {{videoOpts.size}} {{videoOpts.sizemode}}")
  .imagowrapper(ng-style="wrapperStyle" ng-click="videoActive = true")
    a.playbig.fa.fa-play(ng-click="togglePlay()", ng-class="{ playing : videoOpts.playing}")
    video(ng-style="videoStyle", ng-show="videoActive")
      source(ng-repeat="format in videoFormats", src="{{format.src}}", data-size="{{format.size}}", data-codec="{{format.codec}}", type="{{format.type}}")
      div(imago-controls ng-if="videoOpts.controls")
