div(class="imagovideo {{wrapperStyle.backgroundPosition}} {{wrapperStyle.size}} {{wrapperStyle.sizemode}}")
  .imagowrapper(ng-style="wrapperStyle" ng-class="{playing: isPlaying}")
    a.playbig.fa.fa-play(ng-click="togglePlay()", ng-class="{playing: isPlaying}")
    video(ng-style="videoStyle", ng-show="isPlaying")
      source(ng-repeat="format in videoFormats", src="{{format.src}}", data-size="{{format.size}}", data-codec="{{format.codec}}", type="{{format.type}}")
    div(imago-controls ng-if="controls")
