table
  tbody
    tr
      td subtotal
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.subtotal | price }}

    tr
      td shipping
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.shipping | price }}
    tr(ng-show="costs.includedTax")
      td included tax
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.includedTax | price }}
    tr(ng-show="!costs.includedTax")
      td tax
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.tax | price }}
    tr.total
      td total
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.total | price }}