table
  tbody
    tr
      td subtotal
      td {{ currency | currencySymbol }} {{ costs.subtotal | price }}

    tr
      td shipping
      td {{ currency | currencySymbol }} {{ costs.shipping | price }}
    tr(ng-show="costs.includedTax")
      td included tax
      td {{ currency | currencySymbol }} {{ costs.includedTax | price }}
    tr(ng-show="!costs.includedTax")
      td tax
      td {{ currency | currencySymbol }} {{ costs.tax | price }}
    tr.total
      td total
      td {{ currency | currencySymbol }} {{ costs.total | price }}