table
  tbody
    tr
      th Subtotal
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.subtotal | price }}

    tr
      th Shipping
      td(ng-show="costs.shipping")
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.shipping | price }}
      td(ng-hide="costs.shipping") free
    tr(ng-show="costs.includedTax")
      th Included Tax
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.includedTax | price }}
    tr(ng-show="!costs.includedTax")
      th Tax
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.tax | price }}
    tr.total
      th Total
      td
        span.currency(ng-bind-html='currency | currencySymbol')
        | {{ costs.total | price }}