.social
  a(href="http://instagram.com/###" target="_blank").instagram Instagram
  a(href="https://www.facebook.com/###" target="_blank").facebook Facebook
  a(href="https://plus.google.com/###" target="_blank").googleplus Google +