.imago-not-supported(ng-show="supported.invalid")

  .inner
    h1 Time for change!
    p Please download a new version of your favorite browser.

    ul
      li
        a(href="http://support.apple.com/downloads/#safari" target="_blank")
          .icon.icon-safari
          h2 Safari
          span Download

      li
        a(href="http://www.google.com/chrome" target="_blank")
          .icon.icon-chrome
          h2 Chrome
          span Download


      li
        a(href="http://www.opera.com/download" target="_blank")
          .icon.icon-opera
          h2 Opera
          span Download


      li
        a(href="http://www.opera.com/download" target="_blank")
          .icon.icon-firefox
          h2 Firefox
          span Download


      li
        a(href="http://www.opera.com/download" target="_blank")
          .icon.icon-ie
          h2 IE
          span Download

