.controls(stop-propagation)
  a.video-play.fa.fa-play(
    ng-click="imagovideo.togglePlay()"
    ng-class="{'fa-pause': imagovideo.isPlaying, 'fa-play': !imagovideo.isPlaying}"
    )
  span.video-time {{currentTime | time}}
  span.video-seekbar
    input.seek(type='range' ng-model="currentTime" min="0" max="{{duration}}" ng-change="seek(currentTime)")
  a.size(ng-click="toggleSize()") {{wrapperStyle.size}}
  span.volume
    span.fa.fa-volume-up.icon-volume-up(ng-click="volumeUp()")
    input(type='range' ng-model="volumeInput" ng-change="onVolumeChange(volumeInput)")
    span.fa.fa-volume-down.icon-volume-down(ng-click="volumeDown()")
  a.video-fullscreen.fa.fa-expand(ng-click="fullScreen()")
  a.video-screen.fa.fa-compress
