.controls(stop-propagation)
  a.video-play.fa.fa-play(
    hm-tap="imagovideo.togglePlay"
    ng-class="{'fa-pause': imagovideo.isPlaying, 'fa-play': !imagovideo.isPlaying}"
    )
  //- a.video-play.fa.fa-play(hm-tap="imagovideo.togglePlay()" ng-switch-when="false")
  //- a.video-pause.fa.fa-pause(hm-tap="imagovideo.togglePlay()" ng-switch-when="true")
  span.video-time {{currentTime | time}}
  span.video-seekbar
    input.seek(type='range' ng-model="currentTime" min="0" max="{{duration}}" ng-change="seek(currentTime)")
  a.size(hm-tap="toggleSize") {{wrapperStyle.size}}
  span.volume
    span.fa.fa-volume-up.icon-volume-up(hm-tap="volumeUp")
    input(type='range' ng-model="volumeInput" ng-change="onVolumeChange(volumeInput)")
    span.fa.fa-volume-down.icon-volume-down(hm-tap="volumeDown")
  a.video-fullscreen.fa.fa-expand(ng-click="fullScreen()")
  a.video-screen.fa.fa-compress
